p {
  background-color: royalblue;
  color: #f1f1f1;
  font-size: 45px;
  /* Valeur de base pour un <p> */
  display: block;

  /* Transformation en ligne */
  display: inline;
  width: 50px;   /*ne fonctionne pas en inline*/
  height: 50px;    /*ne fonctionne pas en inline*/
  margin-top: 50px;  /*ne fonctionne pas en inline*/
  margin-left: 50px;  /* fonctionne */
  padding-top: 50px;   /* foctionne mais ne pousse pas l'élément */
  
  
  /* Mix des deux */
  display: inline-block;
  width: 500px;
  height: 250px;
  padding: 50px;


  /* Disparation visuelle, mais reste dans le DOM */
  display: none;
}

span { 
  background: green;
  color: #f1f1f1;
  font-size: 45px;

  /* On peut changer le display de tous les élémens */
}