*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 150px;
}
.grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 5px;

  /* auto-fit */
  /* crée une grille avec le nombre exact d'éléments */
  grid-template-columns: repeat(auto-fit,100px);
  
  /* auto-fill */
  /* crée une grille avec le nombre exact d'éléments + le reste de la grille invisible */ 
  grid-template-columns: repeat(auto-fit,100px);
}
.item {
  border: 1px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background: royalblue;
  font-weight: 900;
  color: #f1f1f1;
}